Question 1

In [1]:
import pandas as pd

print(pd.__version__)

1.1.4

Question 2

In [2]:
import pandas as pd
import numpy as np

arr=np.array(['H','E','L','L','O'])
series=pd.Series(arr)
print(series)

0    H
1    E
2    L
3    L
4    O
dtype: object

Quesition 3

In [3]:
import pandas as pd

values={'Name':['jack','jill','klaus','elija'],'Age':[15,17,27,29]}

s=pd.DataFrame(values)
print(s)

    Name  Age
0   jack   15
1   jill   17
2  klaus   27
3  elija   29

Question 4

In [5]:
import seaborn as sb

print(sb.get_dataset_names())

mpg_loading=sb.load_dataset('mpg')
print(mpg_loading)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']
      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

Question 5

In [10]:
import seaborn as sb

mpg_loading=sb.load_dataset('mpg')

print(mpg_loading['origin'].unique())

['usa' 'japan' 'europe']

Question 6

In [14]:
import seaborn as sb
import pandas as pd

mpg_data=sb.load_dataset('mpg')
db=pd.DataFrame(mpg_data)
print(db[db['origin']=='usa'])

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]